.page {
  max-width: 1200px;
  padding: 0 10%;
  padding-bottom: 100px;
  margin: 0 auto;
  overflow-x: hidden;
  margin-top: 64px;


  span {
    color: rgb(215, 87, 87);
    font-size: 12px;
    font-weight: 600;
  }

}

.inputs {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.page__title {
  margin-bottom: 30px;
}

.page__contents {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.review__title {
  width: 50%;
}

.area__cost {
  display: flex;
  flex-direction: row;
  gap: 20px;

  .review__area {
    width: 100%;
  }

  .review__expense {
    width: 100%;
  }
}

.review__places {

  .places__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    justify-content: space-between;
  }

  .add_place {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    input {
      width: 50%;
    }
  }

  button {
    background-color: white;
    border: none;
    height: fit-content;
    cursor: pointer;
    color: #7298C2;
    font-weight: 600;
  }

  .minus__btn {
    cursor: pointer;
  }
}

textarea {
  width: 100%;
  border-radius: 8px;
  resize: none;
  border: 1px solid rgb(199, 199, 199);
  padding: 10px;
}

.enroll__btn {
  border: none;
  padding: 20px;
  cursor: pointer;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #7298C2;
  color: white;
  display: flex;
  float: right;
  margin-top: 10px;
  &:disabled {
    // disabled 상태일 때의 스타일
    background-color: lightgrey;
    color: rgb(255, 255, 255);
  }
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 400px;
  margin-bottom: 20px;
}

.tags__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  .tag__input {
    padding: 0;
    width: 100px;
    border: none;
    outline: none;
    min-width: 50px;
    font-size: 14px;
  }
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
  gap: 5px;
  p {
    font-size: 14px;
  }
}

.del__btn {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.review__images {

  label {
    display: flex;
    width: 140px;
    height: 140px;
    border: 1px solid lightgray;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 70px;
  }
  input {
    display: none;
  }

  .preview__images {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 20px 0px;
    overflow: scroll;
  }
  
}


.img__container {
  width: 140px;
  height: 140px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;

  &:hover .img__del {
    display: block;
  }
}

.img__del {
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 3px;
  cursor: pointer;
}

.img__del svg {
  color: white;
  width: 100%;
  height: 100%;
  display: block;
}

.imgs {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.category__name {
  font-weight: 600;
}
