.card {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;

  img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
  }
}

.card__content {
  position: absolute;
}

.title {
  z-index: 1;
  font-size: 20px;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: center;
}

.dates {
  z-index: 1;
  font-size: 15px;
  font-weight: 600;
  color: white;
  margin-top: 10px;
}