.CommunityLists {
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 100%;
  text-align: center;
}

.CommunityLists ul {
  list-style: none;
  padding: 0;
}