.comment__title {
  margin-top: 50px;
}

.comment__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile__img {
  width:40px;
  border-radius: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 10px;

  img {
    width: 100%;
    height: 100%;
  }
}