.comment__container {
  min-width: 400px;
  min-height: 700px;
  border-radius: 8px;
  // border: solid 1px lightgray;
  padding: 10px;
}
.comment__title {
  margin-top: 50px;
}

.comment__header {
  display: flex;
  flex-direction: row;
  align-items: center;

  textarea {
    padding: 5px;
  }
}

.profile__img {
  width:40px;
  border-radius: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 10px;

  img {
    width: 100%;
    height: 100%;
  }
}

.edit__btn {
  display: flex;
  flex-direction: row;
}

.replies {
  margin-left: 100px;
  padding: 5px 10px;
}