.calendar {
  max-width: 1200px;
  padding: 0 40px;
  padding-bottom: 100px;
  margin: 0 auto;
  overflow-x: hidden;
  margin-top: 30px;
}

.calendar__card {
  padding: 15px;
  border-radius: 8px;
  display: flex;
  margin: 5px;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: row;
  // gap: 10px;
  justify-content: center;
}

.date_title {
  display: flex;
  flex-direction: row;
  gap: 10px;

  p {
    padding: 0;
    margin: 0;
  }
}

.mini__title {
  font-weight: 600;
  margin: 0;
}

.main__title {
  font-size: 25px;
  font-weight: 700;
}

.editLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.edit__btn {
  color: rgb(137, 137, 137);
  font-weight: 600;
  cursor: pointer;
}

.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.defaultCursor {
  cursor: default;
}

.calendar__left {
  width: 200px;
  height: 200px;

  p {
    margin-top: 85px;
    font-weight: 600;
    color: white;
    z-index: 10;
    padding: 0;
  }
}

.calendar__right {
  padding: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.area__img {
  width: 200px;
  border-radius: 10px;
  position: absolute;
}

.card__tag {
  background-color: white;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 10px;
  position: relative;
  z-index: 10;
}

.selec__input {
  position: absolute;
  margin-left: 20px;
  margin-top: 30px;
  z-index: 10;
}

.container {
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(5, 220px);
  justify-items: stretch;
}
