.area__sidebar {
  padding: 0px 50px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.area__labels {
  height: 38px;
  padding: 8px 14px;
  font-size: 15px;
  transform: translateX(0px);
  transition: all 0.3s ease 0s;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  border: 1px solid rgb(238, 238, 238);
}

.btnActive {
  @extend .area__labels;
  color: rgb(255, 255, 255);
    font-family: "KakaoBig Bold";
    font-weight: 600;
    background-color: rgb(32, 32, 32);
}