.page {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding: 0 20%;
  width: 100%;
  padding-bottom: 100px;
  margin: 0 auto;
  overflow-x: hidden;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 13px;
  margin-top: 100px;


  p {
    position: absolute;
    margin-bottom: 30px;
    color: #9b9b9b;
    font-weight: 600;
    font-size: 15px;
  }
}

.profile__top {
  display: contents;
}

.profile__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f5f5f5;
  display: flex; /* 이미지를 중앙 정렬하기 위해 flex 사용 */
  justify-content: center; /* 가로 방향으로 중앙 정렬 */
  align-items: center; /* 세로 방향으로 중앙 정렬 */
  overflow: hidden; /* 컨테이너를 넘는 부분은 잘라냄 */

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.profile__right {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  input {
    cursor: default;
  }
}

.my__contents {
  margin-top: 50px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.profile__nickname {
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 1px;
  outline: none;
  height: 50px;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

.menu__container {
  border: 1px solid gray;
  border-radius: 10px;
  width: 100%;
  padding: 10px 20px;
  cursor: pointer;
  p {
    margin: 0;
    font-weight: 600;
  }
}