.container {
  position: fixed;
  min-width: 300px;
  height: 100vh;
  background-color: white;
  z-index: 10;
  overflow: hidden;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  box-shadow: -2px -7px 20px 3px gray;


  input {
    padding: 11px 19px;
    border: #e6eef5 solid 2px;
    border-radius: 5px;
    background-color: #fbfbfb;
    color: #263747;
    width: 350px;
  }

  span {
    color: rgb(215, 87, 87);
    font-size: 12px;
    font-weight: 600;
  }
}


.funcSide {
  display: flex;
  padding: 0 20px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.addShow__btn {
  display: flex;
  align-items: center;

  button {
    border: none;
    background-color: white;
    cursor: pointer;
    font-weight: 600;
    color: #aaaaab;

    &:hover {
      color: #5376C6;
    }
  }

}

.result_list {
  margin-top: 20px;
  height: 73vh;
  overflow: scroll;

  @media (min-height:1200px) {
    height: 83vh;
  }
}

.dayContainer {
  display: flex;
  flex-direction: column;
}

.place__container {
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  width: 350px;
  padding: 10px;
}

.no_calendar {
  width: 350px;
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #909090;
}