.community-list {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.community-card {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  margin-bottom: 20px; /* Add margin-bottom for spacing between cards */
}

.title {
  color: #444444;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.community-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333333;
  margin-bottom: 10px;
}

.order-button {
  background-color: #d7d7d7;
  color: #444444;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.reaction {
  display: flex;
  flex-direction: column;
  gap: 10px;

  p {
    color: #444444;
  }
}

.create-post-button {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
