.container {
  border-radius: 8px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
  cursor: move;
}

.contents {
  width: 100%;
  display: flex;
  gap: 5px;

  .contents__background {
    background-color: #7298C2;
    min-width: 5px;
    border-radius: 8px;
  }
}

.titles {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}

.index_circle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #7298C2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
}

.dele_btn {
  border: none;
  background-color: white;
  color: rgb(215, 40, 40);
  cursor: pointer;
}