.page {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  // padding: 0 50px;
  width: 100%;
  padding-bottom: 100px;
  margin: 0 auto;
  overflow-x: hidden;
}

.review {
  width: 100%;

  input {
    height: 50px;
    padding: 20px;
    width: 40rem;
    border-radius: 5px;
    border: 1px solid lightgray;
    outline: none;
  }
}

.review__top {
  margin-top: 45px;
}

.editLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  button {
    border: none;
    cursor: pointer;
    padding: 0px 10px;
    height: 30px;
    border-radius: 5px;
    background-color: #7298C2;
    color: white;
  }

}

.review__cards {
  gap: 18px;
  display: flex;
  flex-direction: column;
}

.none__review {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  color: lightgray;
  font-weight: 600;
}