.page {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  // padding: 0 50px;
  width: 100%;
  padding-bottom: 100px;
  margin: 0 auto;
  overflow-x: hidden;
}

.review__top {
  margin-top: 45px;
}

.editLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.review__cards {
  // gap: 18px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.none__review {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  color: lightgray;
  font-weight: 600;
}

.input__container {
  display: flex;
  flex-direction: row;
  input {
    padding: 10px;
    width: 40rem;
    border-radius: 5px;
    outline: none;
    background-color: #ffffff73;
    border: solid 1px lightgray;
  }
}

.select {
  width: 100px;
  height: 30px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  .css-1fdsijx-ValueContainer {
    height: 50px;
    align-content: center;
  }
  .css-13cymwt-control {
    height: 30px;
  }

}

.review__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}