*{
  box-sizing: border-box;
  --banner-height-desktop: 400px;
  --banner-image-width--desktop: calc(1480px / 2);
  --banner-image-height--desktop: calc(800px / 2);
  --banner-height-tablet:430px;
  --banner-image-height--tablet: calc(510px / 2);
  --indicator-height: 32px;
  --margin-from-indicator: 24px;
}

body {
  width: 100%;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.ck-editor__editable {
  min-height: 300px;
}

@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.css-1fdsijx-ValueContainer {
  height: 40px;
  align-content: center;
}

.swiper-slide {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev {
  color: #cdcdcd;
  font-weight: 600;
}

.swiper-button-next {
  color: #cdcdcd;
  font-weight: 600;
}