.page {
  max-width: 1200px;
  padding: 0 20px;
  width: 100%;
  padding-bottom: 100px;
  margin: 0 auto;
  overflow-x: hidden;
  margin-top: 64px;
  display: flex;
  justify-content: space-evenly;

}

.category__name {
  font-weight: 600;
}

.page__contents {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.dates__area {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.image__box {
  position: relative;
  width: 100%;
  height: 400px;
  /* 수정: padding-top 대신 명시적인 높이 설정 */
  background-color: #f5f5f5;
  display: flex;
  /* 이미지를 가운데 정렬하기 위해 flex 사용 */
  justify-content: center;
  /* 가로 방향 중앙 정렬 */
  align-items: center;
  /* 세로 방향 중앙 정렬 */
  overflow: hidden;
  /* 이미지가 박스를 넘어가지 않도록 함 */
}

.images {
  max-width: 100%;
  /* 박스 너비를 넘지 않도록 최대 너비 설정 */
  max-height: 100%;
  /* 박스 높이를 넘지 않도록 최대 높이 설정 */
  object-fit: cover;
  /* 이미지 비율을 유지하면서 박스를 꽉 채움 */
}

.user__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
  justify-content: space-between;

  .user__profile {
    padding: 10px 5px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    p {
      margin: 0;
    }
  }

  .profile__img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #f5f5f5;
  }
}

.free__tags {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: #b9b9b9;
  font-weight: 600;
}

.menu__Btn {
  cursor: pointer;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 10px;

  .icon {
    cursor: pointer;
  }
}

.dropdown__menu {
  display: flex;
  justify-content: flex-end;
}