.page {
  max-width: 1200px;
  padding: 0 20%;
  width: 100%;
  padding-bottom: 100px;
  margin: 0 auto;
  overflow-x: hidden;
}

.category__name {
  font-weight: 600;
}

.page__contents {
  display: flex;
  flex-direction: column;
  gap: 10px;
}