.kakao__btn {
  border-radius: 10px;
  border: none;
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  background-color: #FDDC3F;
  color: #191919;
  cursor: pointer;

  p {
    margin-right: 30px;
  }
}

.kakao__logo {
  width: 30px;
}