// 기본 폰트 및 컬러 설정
$font-stack: 'Helvetica', sans-serif;
$primary-color: #304FFE; // 파란색
$secondary-color: #757575; // 회색
$border-radius: 4px;
$border-color: #ccc; // 경계선 색상

// 폼 및 폼 요소의 기본 스타일
.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: $font-stack;
  
  label {
    display: block;
    margin-bottom: 5px;
    color: $secondary-color;
  }

  .input-group, .select-container, .date-picker-container, .image-upload-container {
    margin-bottom: 15px;
  }

  .text-input, .number-input, .file-input, .textarea-input, .date-input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    box-sizing: border-box;

    &:focus {
      outline: none;
      border-color: $primary-color;
    }
  }

  .textarea-input {
    height: 150px; // '리뷰 내용' 필드의 높이 조정
  }

  .date-picker-container {
    display: flex;
    justify-content: space-between;

    .date-input {
      width: 48%;
    }
  }

  // React-Select 스타일
  .select-container {
    .select__control {
      width: 100%;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      padding: 2px;
      box-sizing: border-box;
      &:focus {
        outline: none;
        border-color: $primary-color;
      }
    }
  }

  // 이미지 업로드 스타일
  .file-input {
    border: none;
    padding: 0;
  }

  // 버튼 스타일
  .button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    button {
      padding: 10px 20px;
      border: none;
      border-radius: $border-radius;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s;

      &.submit {
        background-color: $primary-color;
        color: white;
        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }

      &.cancel {
        background-color: $secondary-color;
        color: white;
        &:hover {
          background-color: darken($secondary-color, 10%);
        }
      }
    }
  }
}